<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="../static/css/prescore.css">
    <!--<link rel="stylesheet" href="../static/css/teacher-style.css">-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    

 <div class="container">
   
      <form action="/studentinterface" method="POST">
        <div class="user-details">
          
            <span class="details" style="color: white;font-size: large;"><center>You have successfully completed your test</center></span>
           <br>
            <span class="details" style="color:white;font-size: large;"><center>your score is : {{correct_count}}</center></span>
            <br>
          
          
          
          
        </div>
        
        
        <div class="button">
          <input type="submit" value="ok">
        </div>
      </form>

    <!--scroll-->


    

</body>
</html>
